<template>
  <div class="hello">
    <div class="holder">
      <form @submit.prevent="addSkill">
        <input type="text" placeholder="Enter a skill you have.." v-model="skill" v-validate="'min:5'" name="skill">
        <p class="alert" v-if="errors.has('skill')">{{ errors.first('skill') }}</p>
        {{ skill }}
      </form>
      <ul>
        <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li v-for="(data, index) in skills" :key='index'>{{ index }}. {{ data.skill }}</li>
        </transition-group>
      </ul>

      <p v-if="skills.length >= 1">You have more than 1 skills</p>
      <p v-else>You have less than or equal 1 skills</p>
    </div>
    <div v-bind:class="{ alert: showAlert, 'another-class': showClass }"></div>

    {{ btnState ? 'The button is disabled' : 'The button is active' }}

    <button v-on:click="changeName" v-bind:disabled="btnState"> Change Name </button>
  </div>
</template>

<script>
export default {
  name: 'Skills',
  data() {
    return{
      skills:[
        {"skill":"Vue.js"},
        {"skill":"React.js"},
        {"skill":"Angular.js"},
      ],
      btnState: true,
      showAlert: true,
      showClass: true,
      skill: ''
    }
  },
  methods: {
    addSkill(){
      this.$validator.validateAll().then((result) => {
        if(result){
          this.skills.push({skill: this.skill})
          this.skill = ''
        }else{
          console.log("nope")
        }
      })
    },
    changeName(){

    }
  }


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

.holder {
  background: #fff;
}

  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  margin-bottom: 2px;
  color: #3E5252;
}

  p {
  text-align:center;
  padding: 30px 0;
  color: gray;
}

  .container {
  box-shadow: 0px 0px 40px lightgray;
}

input {
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}

.alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }
</style>
